.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  height: 398.6px;
  /*transform: scale(1.05);
  transform-origin: 0 0;*/
}

.dials {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App .title {
  margin: 40px;
  position: relative;
  height: -50px;
}

.box{
  position: absolute;
  top: 188px;
  left: -388px;
  display: flex;
  justify-content: right;
}

img{
  height: 80px;  
  margin: 2px;
  position: relative;
  top: 100px;
  left: -1135px;
}

.battery{
  position: absolute;
  top: 32px;
  left: 1172px;
}